<div class="vh-100">
  <mat-toolbar>
    <img
      src="https://www.kuepa.com/logo-kuepa-01-ce02783ec8555816498a749b2c879fb8.png"
      width="100px"
      alt=""
    />
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" (click)="openDialog()">Sign Up</button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="openDialogSignIn()">Sign In</button>
  </mat-toolbar>

  <div class="container d-flex align-items-center text-white justify-content-center h-75">
      <h1 class="text-center">
        We want you to achieve professional success!
      </h1>
    </div>
</div>
